<div class="container-fluid">

  <div class="home-content">

    <div class="row">

      <div class="col-md-7">

          <!-- Logo div -->
          <header class="logo row col-md-offset-1">

            <h1 class="page-header">Autonome</h1>

          </header>

          <div class="page-content">

            <!-- Introduction div -->
            <div class="introduction row col-md-offset-1">

              <h3>We believe that health insurance should work for <strong class="extra-bold">you</strong>.</h3>

            </div>

            <!-- Autonome overview -->
            <div class="home-page-content row col-md-offset-1">

              <h5 class="content">That you should choose your insurance based on the doctors you want, not the other way around.  That health insurance is a benefit offered to you by employers, not something employers control.  And that your medical history and records should be available to you when you need them, not buried under 1-800 numbers and directory menus.</h5>

            </div>

            <div class="home-page-content row col-md-offset-1">

              <h5 class="content">We are building the next big health insurance revolution all based on the simple idea of <strong class="">autonomy</strong> - freedom, choice and independence. </h5>

            </div>

            <div class="row col-md-offset-1">

              <h4>Your health. Your choice. Your Autonome. <strong class="extra-bold"><%= link_to "Learn more" %></strong> </h4>

            </div>

          </div>

      </div>

    </div>

  </div>

</div>

<%= render 'shared/form_registrant_new' %>