// Place all the styles related to the Registrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page {
   background-image: image-url('choices-large.jpg');
}

.home-content {
  width: 100vw;
  height: 80vh;
}

.introduction {

}

.page-content {
  margin-top: 100px;
}

.home-page-content {
  margin: 10px 0;
}

.content {
  line-height: 20px;
  font-size: 14px;
}

#required-fields {
  padding-left: 20px;
}

.input-box {
  margin: 0 20px 0 0;
  width: 150px;
}

.talk-to-us {
  border-top-style: solid;
  border-color: red;
}

.submit-button {
  margin-left: 20px;
}